<header>
    <div class="header-text">
        <img class="logo" src="assets/logo-brown.svg" />
        <p class="title">Marcus Denny</p>
        <p class="sub-title">I am a Frontend Developer</p>
    </div>
    <div class="header-links">
        <a class="link" pageScroll href=".projects">Projects</a>
        <a class="link" pageScroll href=".about">About</a>
        <div class="blob-container" #canvas>
            <img src="assets/header-blob-spotty.png" />
        </div>
    </div>
</header>
