@import '../../scss/colors.scss';
@import '../../scss/fonts.scss';

:host::ng-deep .blob-one {
    position: absolute;
    left: 0;
    z-index: 1;

    @media screen and(max-height: 750px) {
        width: 200px;
        height: 200px;
    }

    @media screen and(max-width:$mobile) {
        width: 90px;
        height: 110px;
        left: 50px;
        top: 20px;
    }

    @media only screen and (max-width: 850px) and (orientation: landscape) {
        width: 90px;
        height: 110px;
        left: 50px;
        top: 20px;
    }
}

:host::ng-deep .blob-two {
    position: absolute;
    left: -10%;
    top: 60%;
    z-index: 1;

    @media screen and(max-height: 750px) {
        width: 200px;
        height: 200px;
    }

    @media screen and(max-width:$mobile) {
        width: 120px;
        height: 140px;
    }

    @media only screen and (max-width: 850px) and (orientation: landscape) {
        width: 120px;
        height: 140px;
    }
}

header {
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    width: 100%;
    height: 100vh;
    padding: 90px 60px;
    box-sizing: border-box;
    position: relative;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    //position: relative;

    //clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
    background-color: $green;

    @media screen and(max-width:$mobile) {
        //height: 100%;
        padding: 20px;
    }

    @media only screen and (max-width: 850px) and (orientation: landscape) {
        padding: 20px;
    }
}

.header-links {
    position: relative;
    justify-self: right;

    @media screen and(max-width:$mobile) {
        display: flex;
    }

    .link {
        display: inline-block;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $brown;

        @include underline-slide;

        @media screen and(max-width:$mobile) {
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
        }

        @media only screen and (max-width: 850px) and (orientation: landscape) {
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
        }

        &:first-of-type {
            margin-right: 47px;

            @media screen and(max-width:$mobile) {
                margin-right: 15px;
            }
        }
    }

    .blob-container {
        position: absolute;
        top: 60px;
        right: -60px;

        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
            top: -30px;
        }

        @media only screen and (max-width: 850px) and (orientation: landscape) {
            top: 60px;
        }

        img {
            width: 500px;
            height: 720.1px;
            object-fit: contain;

            position: relative;
            z-index: 1;

            @media screen and(max-height: 750px) {
                width: 350px;
                height: initial;
            }

            @media screen and (max-width: $small-laptop) {
                width: 450px;
                height: initial;
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                width: 400px;
            }

            @media screen and (max-width: $tablet) {
                width: 400px;
            }

            @media screen and (max-width: $mobile) {
                width: 200px;
            }

            @media only screen and (max-width: 850px) and (orientation: landscape) {
                width: 200px;
            }
        }
        canvas {
            position: absolute;
            left: 0;
        }
    }
}

.header-text {
    justify-self: left;
    text-align: center;
    color: $brown;
    position: relative;
    display: grid;

    @media screen and (max-width: $mobile) {
        display: flex;
        flex-direction: column;
    }

    .logo {
        display: block;
        margin-bottom: auto;

        @media screen and (max-width: $small-laptop) {
            width: 120px;
            height: auto;
        }

        @media screen and (max-width: $mobile) {
            width: 70px;
            height: 70px;
        }

        @media only screen and (max-width: 850px) and (orientation: landscape) {
            width: 70px;
            height: 70px;
        }
    }

    .title {
        @include section-title;

        line-height: 1;
        text-align: left;
        margin: 0 0 10px 0;

        align-self: end;

        @media screen and (max-width: $mobile) {
            margin-top: auto;
        }
    }

    .sub-title {
        font-size: 46px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: $brown;
        margin: 0;
        //align-self: end;

        //desktop
        @media screen and (min-width: $desktop) {
            font-size: 64px;
        }

        @media screen and(max-height: 750px) {
            font-size: 40px;
        }

        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
            font-size: 40px;
        }

        @media screen and (max-width: $tablet) {
            font-size: 40px;
        }

        @media screen and (max-width: $mobile) {
            font-size: 32px;
            margin-bottom: 80px;
        }

        @media screen and (max-width: $small-mobile) {
            font-size: 26px;
        }

        @media only screen and (max-width: 850px) and (orientation: landscape) {
            font-size: 28px;
            margin-bottom: auto;
        }
    }
}
