<header>
  <svg
    class="blob"
    width="600"
    height="600"
    viewBox="0 0 600 600"
    preserveAspectRatio="xMidYMid slice"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g transform="translate(300,300)">
      <path
        id="path"
        d="M181.8,-147.8C218.7,-98.7,220,-24.1,205.4,49.7C190.8,123.5,160.3,196.4,109.1,217.6C58,238.8,-13.7,208.1,-83.1,174.1C-152.5,140.1,-219.6,102.8,-231.1,52.6C-242.7,2.5,-198.7,-60.5,-151,-112.1C-103.2,-163.6,-51.6,-203.8,10.4,-212.1C72.4,-220.4,144.9,-196.9,181.8,-147.8Z"
        fill="#023f92"
      />
    </g>
  </svg>

  <div class="header-links">
    <a class="link">Projects</a>
    <img src="../../assets/logo.svg" />

    <a class="link">About</a>
  </div>

  <div class="header-text">
    <p class="title">Marcus <span>Denny</span></p>
    <p class="sub-title">I am a Frontend Developer</p>
  </div>
</header>
