@import "../../scss/colors.scss";
@import "../../scss/fonts.scss";

:host::ng-deep .blob-one {
  position: absolute;
  left: 0;
  z-index: 1;
}

:host::ng-deep .blob-two {
  position: absolute;
  left: -10%;
  top: 60%;
}

header {
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  width: 100%;
  padding: 90px 60px;
  box-sizing: border-box;
  position: relative;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  //position: relative;

  //clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  background-color: $green;
}

.header-links {
  position: relative;
  justify-self: right;

  .link {
    display: inline-block;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $brown;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: all 0.5s ease;

    &:first-of-type {
      margin-right: 47px;
    }

    &:hover {
      transform: scale(1.04);
      transition: all 0.5s ease;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
      backface-visibility: hidden;
      -webkit-font-smoothing: subpixel-antialiased;
      transform: translateZ(100);
    }
  }

  .blob-container {
    position: absolute;
    top: 60px;
    right: -60px;

    img {
      width: 500px;
      height: 720.1px;
      object-fit: contain;

      position: relative;
      z-index: 1;
    }
    canvas {
      position: absolute;
      left: 0;
    }
  }
}

.header-text {
  //grid-row-start: 2;
  justify-self: left;
  text-align: center;
  color: $brown;
  position: relative;

  .logo {
    display: block;
    margin-bottom: 225px;
  }

  .title {
    @include section-title;

    line-height: 1;
    text-align: left;
    margin-bottom: 10px;
  }

  .sub-title {
    font-size: 64px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $brown;
  }
}
