@import '../../scss/colors.scss';
@import '../../scss/fonts.scss';

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    //clip-path: polygon(0 0, 100% 14%, 100% 100%, 0% 100%);
    background-color: $brown;
    padding: 60px;
    height: 100%;

    @media screen and (max-width: $tablet) {
        height: 101vh;
    }

    @media screen and (max-width: $mobile) {
        padding: 25px;
        //overflow-y: hidden;
    }

    .blob-container {
        position: absolute;
        left: -150px;
        top: -150px;
        z-index: -1;
    }

    .blob-container-two {
        position: absolute;
        left: 300px;
        top: 200px;
        z-index: 1;
    }

    .title {
        color: $white;
        font-size: 48px;
        grid-column-start: 1;
        align-self: flex-end;

        @include section-title;
        text-align: left;

        @media screen and (max-width: $tablet) {
            grid-row-start: 1;
            z-index: 1;
        }

        p {
            margin: 0;
            @media screen and (max-width: $tablet) {
                margin-bottom: 40px;
            }
        }
    }

    .about-content {
        display: flex;
        justify-self: center;
        align-items: center;
        position: relative;
        margin-top: 240px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;

        @media screen and (max-width: $tablet) {
            flex-direction: column;
            margin-top: 112px;
        }

        .text-container {
            display: grid;
            width: 330px;
            height: 329px;
            background-color: $white;
            padding: 25px 30px 30px 30px;
            z-index: 1;

            @media screen and (max-width: $mobile) {
                width: 270px;
                height: 270px;
                box-sizing: border-box;
                padding: 20px 20px 28px 20px;
            }

            p {
                color: $green;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.78;
                letter-spacing: normal;

                @media screen and (max-width: $mobile) {
                    font-size: 14px;
                    line-height: 1.71;
                }
            }

            .social-icons {
                grid-row: 2;
                align-self: end;
                img {
                    width: 35px;
                    height: 34px;
                    margin-right: 14px;
                }
            }
        }

        .image-container {
            position: relative;
            left: -25px;

            @media screen and (max-width: $tablet) {
                left: 0;
                top: -20px;
            }

            img {
                @media screen and (max-width: $mobile) {
                    width: 218px;
                    height: 204px;
                }
            }

            svg {
                opacity: 0.8;
            }

            .about-spotty-blob {
                width: 242px;
                height: 270px;
                position: absolute;
                right: 0px;
                top: 50%;
                @media screen and (max-width: $mobile) {
                    display: none;
                }
            }
        }
    }
}
