<section class="about">
    <div class="title"><p>About</p></div>
    <div class="about-content">
        <div class="text-container">
            <div class="blob-container" #canvas></div>
            <p>
                I am a Front-End Developer with a keen interest in JavaScript and performance
                optimisation. I have experience building websites and web applications, working with
                technologies like HTML, CSS, Javascript, PHP and frameworks such as Angular.
            </p>
            <div class="social-icons">
                <a href="https://github.com/mjd123" target="_blank"
                    ><img src="assets/git-hub-mark-light-64-px@3x.png" alt="Github"
                /></a>
                <a href="https://linkedin.com/in/marcus-d-518a7a11a" target="_blank"
                    ><img src="assets/linkedin@3x.png" alt="Linkedin"
                /></a>
            </div>
        </div>

        <div class="image-container">
            <img src="assets/me.png" alt="picture of me" />
            <img class="about-spotty-blob" src="assets/about-blob-spotty.png" />
            <div class="blob-container-two" #canvas></div>
        </div>
    </div>
</section>
