<section class="projects" #projects>
  <div class="projects-text" #projectsText>
    <p>Projects</p>
  </div>

  <div class="project-container one">
    <img src="https://via.placeholder.com/460" alt="" />
  </div>

  <div class="project-container two">
    <img src="https://via.placeholder.com/460" alt="" />
  </div>
  <div class="project-container three">
    <img src="https://via.placeholder.com/460" alt="" />
  </div>
  <div class="project-container four">
    <img src="https://via.placeholder.com/460" alt="" />
  </div>
</section>
