<section class="projects" #projects>
    <app-single-project
        *ngIf="!this.delete"
        (delete)="toggleChildComponent($event)"
        [projectsData]="singleProject"
        [projectsContainer]="projectsContainer"
        (changeProject)="nextChildComponent($event)"
    ></app-single-project>

    <div class="blob-container" #canvas>
        <img src="assets/project-blob-spotty.png" />
    </div>
    <div class="projects-text" #projectsText>
        <p>Projects</p>
    </div>

    <div class="project-container one" (click)="toggleChildComponent(0)">
        <div class="overlay" (mouseenter)="isOverflown($event)">
            <p class="title" #overlayTitle>{{ singleProjects[0]?.text.title }}</p>
            <p class="sub-title">{{ singleProjects[0]?.text.subTitle }}</p>
        </div>
        <img src="https://via.placeholder.com/460" alt="" />
    </div>
    <div class="project-container two" (click)="toggleChildComponent(1)">
        <div class="overlay" (mouseenter)="isOverflown($event)">
            <p class="title" #overlayTitle>{{ singleProjects[0]?.text.title }}</p>
            <p class="sub-title">{{ singleProjects[0]?.text.subTitle }}</p>
        </div>
        <img src="https://via.placeholder.com/460" alt="" />
    </div>
    <div class="project-container three" (click)="this.delete = false">
        <div class="overlay" (mouseenter)="isOverflown($event)">
            <p class="title" #overlayTitle>{{ singleProjects[0]?.text.title }}</p>
            <p class="sub-title">{{ singleProjects[0]?.text.subTitle }}</p>
        </div>
        <img src="https://via.placeholder.com/460" alt="" />
    </div>
    <div class="project-container four" (click)="this.delete = false">
        <div class="overlay" (mouseenter)="isOverflown($event)">
            <p class="title" #overlayTitle>{{ singleProjects[1]?.text.title }}</p>
            <p class="sub-title">{{ singleProjects[0]?.text.subTitle }}</p>
        </div>
        <img src="https://via.placeholder.com/460" alt="" />
    </div>
</section>
