@import "../../scss/colors.scss";
@import "../../scss/fonts.scss";

:host::ng-deep .blob-one {
  position: absolute;
  z-index: 1;
  left: 340px;
  top: 150px;
}

.projects {
  position: relative;
  -webkit-perspective: 1000;
  perspective: 1000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  //height: 100vh;
  padding: 60px;

  p {
    color: $green;
    text-align: center;
    margin: 0;
    @include section-title;
  }

  .blob-container {
    justify-self: flex-start;
    align-self: flex-start;
    margin-bottom: auto;

    img {
      max-width: 407px;
      max-height: 475px;
    }
  }

  .projects-text {
    display: block;
    overflow: hidden;
    align-self: flex-start;
  }
  .project-container {
    position: absolute;
    cursor: pointer;
    z-index: 1;

    &:hover {
      .overlay {
        visibility: visible;
        opacity: 1;
        transition: all 0.5s ease;
        p {
          visibility: visible;
          opacity: 1;
          transition: all 0.5s ease;
        }
      }
    }

    .overlay {
      visibility: hidden;
      transition: all 0.5s ease-in-out;
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: $green;

      p {
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
        font-size: 18px;
        color: $white;
        //white-space: nowrap;

        &:first-of-type {
          font-size: 100px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          // background-clip: text;
          //-webkit-text-fill-color: transparent;
          //-webkit-background-clip: text;
          //linear-gradient(to right, #1c87c9 32px, white 32px, white 300px, white 332px, green 332px )
        }
      }
    }

    &.one {
      top: -50px;
      transform: scale(1.5);
      img {
        width: calc(414px);
        height: calc(483px);
      }
    }

    &.two {
      transform: scale(2);
      img {
        width: calc(300px);
        height: calc(400px);
      }
    }

    &.three {
      transform: scale(1.5);

      img {
        width: calc(380px);
        height: calc(400px);
      }
    }

    &.four {
      top: 670px;

      transform: scale(2);
      img {
        width: 379px;
        height: 200px;
      }
    }
  }
}
