@import '../../scss/colors.scss';
@import '../../scss/fonts.scss';

:host::ng-deep .blob-one {
    position: absolute;
    z-index: 1;
    left: 340px;
    top: 150px;

    @media screen and(max-height: 750px) {
        width: 200px;
        height: 200px;
    }

    @media screen and (max-width: $mobile) {
        width: 74px;
        height: 96px;
        left: 160px;
        top: 100px;
    }

    @media only screen and (max-width: 850px) and (orientation: landscape) {
        width: 74px;
        height: 96px;
        left: 160px;
        top: 100px;
    }
}

.projects {
    position: relative;
    -webkit-perspective: 1000;
    perspective: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding: 60px;
    background-color: $green;

    @media screen and (max-height: 750px) {
        height: initial;
    }

    @media screen and (max-width: $mobile) {
        height: 100vh;
        padding: 24px 20px;
    }

    @media only screen and (max-width: 850px) and (orientation: landscape) {
        padding: 24px 20px;
    }

    p {
        color: $green;
        text-align: center;
        margin: 0;
        @include section-title;
    }

    .blob-container {
        justify-self: flex-start;
        align-self: flex-start;
        margin-bottom: auto;

        img {
            //ratio 0.85
            max-width: 407px;
            max-height: 475px;

            @media screen and (max-width: $tablet) {
                width: 400px;
            }

            @media screen and (max-width: $mobile) {
                position: relative;
                width: 171px;
                height: 228px;
            }

            @media only screen and (max-width: 850px) and (orientation: landscape) {
                position: relative;
                width: 171px;
                height: 228px;
            }
        }
    }

    .projects-text {
        display: block;
        overflow: hidden;
        align-self: flex-start;

        @media screen and (max-width: $mobile) {
            align-self: center;
            margin-bottom: 40px;
        }
    }
    .project-container {
        position: absolute;
        cursor: pointer;
        z-index: 1;

        @media screen and (max-width: $small-laptop) {
            top: 100px;
        }

        @media screen and (max-height: 750px) {
            top: 120px;
        }

        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
            top: 180px;
        }

        @media screen and (max-width: $tablet) {
            top: 0;
        }

        @media only screen and (max-width: 850px) and (orientation: landscape) {
            top: 120px;
        }

        &:hover {
            .overlay {
                visibility: visible;
                opacity: 1;
                transition: all 0.5s ease;
                p {
                    visibility: visible;
                    opacity: 1;
                    transition: all 0.5s ease;
                }
            }
        }

        .overlay {
            visibility: hidden;
            transition: all 0.5s ease-in-out;
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: $green;

            p {
                visibility: hidden;
                opacity: 0;
                transition: all 0.5s ease;
                font-size: 18px;
                color: $white;
                line-height: 1.2em;

                @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                    font-size: 16px;
                }

                @media screen and (max-width: $tablet) {
                    font-size: 16px;
                }

                @media screen and (max-width: $mobile) {
                    font-size: 14px;
                }

                &:first-of-type {
                    font-size: 100px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;

                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                        font-size: 60px;
                    }

                    @media screen and (max-width: $tablet) {
                        font-size: 60px;
                    }

                    @media screen and (max-width: $mobile) {
                        font-size: 38px;
                    }
                    // background-clip: text;
                    //-webkit-text-fill-color: transparent;
                    //-webkit-background-clip: text;
                    //linear-gradient(to right, #1c87c9 32px, white 32px, white 300px, white 332px, green 332px )
                }
            }
        }

        &.one {
            //top: -50px;
            //transform: scale(1.5);

            //ratio 0.85
            width: 414px;
            height: 483px;

            img {
                width: 100%;
                height: 100%;
            }

            @media screen and (max-width: $small-laptop) {
                width: 342px;
                height: 400px;
            }

            @media screen and(max-height: 750px) {
                width: 289px;
                height: 340px;
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                width: 300px;
                height: 255px;
            }

            @media screen and (max-width: $tablet) {
                width: 300px;
                height: 255px;
            }

            @media screen and (max-width: $mobile) {
                width: 150px;
                height: 176px;
                left: 0;
            }

            @media screen and (max-width: $small-mobile) {
                width: 119px;
                height: 140px;
            }

            @media only screen and (max-width: 850px) and (orientation: landscape) {
                width: 119px;
                height: 140px;

                img {
                    width: 119px;
                    height: 140px;
                }
            }
        }

        &.two {
            //transform: scale(2);

            // ratio 0.75
            width: 300px;
            height: 400px;

            img {
                width: 100%;
                height: 100%;
            }

            @media screen and (max-width: $small-laptop) {
                width: 262.5px;
                height: 350px;
            }

            @media screen and(max-height: 750px) {
                width: 240px;
                height: 320px;
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                width: 225px;
                height: 300px;
            }

            @media screen and (max-width: $tablet) {
                width: 225px;
                height: 300px;
            }

            @media screen and (max-width: $mobile) {
                width: 176px;
                height: 185px;
                left: 50px;
            }

            @media screen and (max-width: $small-mobile) {
                width: 120px;
                height: 160px;
            }

            @media only screen and (max-width: 850px) and (orientation: landscape) {
                width: 120px;
                height: 160px;
            }
        }

        &.three {
            //transform: scale(1.25);

            //ratio 1.05
            width: 380px;
            height: 400px;

            img {
                width: 100%;
                height: 100%;
            }

            @media screen and (max-width: $small-laptop) {
                width: 314px;
                height: 350px;
            }

            @media screen and(max-height: 750px) {
                width: 266px;
                height: 280px;
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                width: 266px;
                height: 280px;
            }

            @media screen and (max-width: $tablet) {
                width: 320px;
                height: 304px;
            }

            @media screen and (max-width: $mobile) {
                width: 200px;
                height: 190px;
                left: 0;
            }

            @media screen and (max-width: $small-mobile) {
                width: 143px;
                height: 150px;
            }

            @media only screen and (max-width: 850px) and (orientation: landscape) {
                width: 143px;
                height: 150px;
            }
        }

        &.four {
            //transform: scale(2);

            //ratio 1.895
            width: 379px;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
            }

            @media screen and (max-width: $small-laptop) {
                width: 350px;
                height: 184px;
            }

            @media screen and(max-height: 750px) {
                width: 284.5px;
                height: 150px;
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                width: 300px;
                height: 152px;
            }

            @media screen and (max-width: $tablet) {
                width: 300px;
                height: 152px;
            }

            @media screen and (max-width: $mobile) {
                width: 197px;
                height: 105px;
                left: 50px;
            }

            @media screen and (max-width: $small-mobile) {
                width: 180px;
                height: 95px;
            }

            @media only screen and (max-width: 850px) and (orientation: landscape) {
                width: 180px;
                height: 95px;
            }
        }
    }
}
