@import '../../../scss/colors.scss';
@import '../../../scss/fonts.scss';

.single-project-container {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 99;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    overflow-x: hidden;
    overscroll-behavior: contain;

    @media screen and (max-width: $tablet) {
        height: 100%;
    }

    &.no-scroll {
        position: fixed;
        top: 0;
        overscroll-behavior: contain;
    }

    a {
        cursor: pointer;
    }

    .image-container {
        grid-column-start: 1;
        grid-column-end: 2;
        height: 100%;
        width: 100%;

        @media screen and (max-width: $tablet) {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }

    .text-container {
        //position: relative;
        grid-column-start: 2;
        //height: 100%;
        //width: 100%;
        padding: 40px 40px 28px 40px;
        color: $white;
        background: $green;
        //opacity: 0.8;

        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        @media screen and (max-width: $tablet) {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .close {
            align-self: flex-end;
        }

        .description {
            text-align: left;
            max-width: 420px;
            margin-bottom: auto;

            @media screen and (max-width: $tablet) {
                margin-bottom: 40px;
            }

            .title {
                font-size: 70px;
                text-align: left;
                margin-bottom: -10px;
                margin-top: 20px;

                @media screen and (max-width: $tablet) {
                    font-size: 60px;
                }

                @media only screen and (max-width: 850px) and (orientation: landscape) {
                    font-size: 52px;
                }

                @media screen and (max-width: $mobile) {
                    font-size: 52px;
                }
            }

            .sub-title {
                font-size: 18px;
                margin-bottom: 25px;

                @media screen and (max-width: $tablet) {
                    font-size: 16px;
                }
            }

            .text {
                @include text-block;
                color: $white;

                @media only screen and (max-width: 850px) and (orientation: landscape) {
                    margin-bottom: 20px;
                }
            }

            .link {
                @media screen and (max-width: $tablet) {
                    font-size: 16px;
                }
                @media only screen and (max-width: 850px) and (orientation: landscape) {
                    font-size: 16px;
                }
            }
        }

        .project-nav {
            display: flex;
            justify-content: space-between;

            @media only screen and (max-width: 850px) and (orientation: landscape) {
                margin-top: 30px;
            }

            a {
                @media screen and (max-width: $tablet) {
                    font-size: 14px;
                }
            }
        }
    }
}
