<section class="single-project-container" [@fade]="fade" #singleProjectContainer>
    <div class="image-container">
        <a class="close-mobile">[ close ]</a>
        <video
            autoplay
            loop
            muted
            playsinline
            preload
            [ngClass]="{ visible: fadeVideo === 'visible' }"
            (loadeddata)="videoLoad()"
        >
            <source src="{{ projectsData?.image.video }}" type="video/mp4" />
        </video>
    </div>
    <div class="text-container">
        <a class="close">[ close ]</a>
        <div class="description">
            <p class="title">{{ projectsData?.text.title }}</p>
            <p class="sub-title">{{ projectsData?.text.subTitle }}</p>
            <nav class="project-nav-mobile">
                <a (click)="prevousProject()"></a>
                <a (click)="nextProject()"></a>
            </nav>
            <p class="text">{{ projectsData?.text.text }}</p>
            <a class="link" href="{{ projectsData?.image.url }}" target="_blank">Visit site</a>
        </div>

        <nav class="project-nav">
            <a>Prevous project</a>
            <a>Next project</a>
        </nav>
    </div>
</section>
