<section class="single-project-container" [@fade]="delete" #singleProjectContainer>
    <div class="image-container">
        <a class="close-mobile" (click)="close()">[ close ]</a>
        <video autoplay loop muted playsinline>
            <source src="{{ projectsData?.image.video }}" type="video/mp4" />
        </video>
    </div>
    <div class="text-container">
        <a class="close" (click)="close()">[ close ]</a>
        <div class="description">
            <p class="title">{{ projectsData?.text.title }}</p>
            <p class="sub-title">{{ projectsData?.text.subTitle }}</p>
            <nav class="project-nav-mobile">
                <a (click)="prevousProject()"></a>
                <a (click)="nextProject()"></a>
            </nav>
            <p class="text">{{ projectsData?.text.text }}</p>
            <a class="link" href="{{ projectsData?.image.url }}" target="_blank">Visit site</a>
        </div>

        <nav class="project-nav">
            <a (click)="prevousProject()">Prevous project</a>
            <a (click)="nextProject()">next project</a>
        </nav>
    </div>
</section>
